.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.t,
.s {
  position: relative;
  flex: 1;
  align-items: center;
  margin: 16px 60px !important;
  border-radius: 10px;
  padding: 10px 20px;
  text-wrap: wrap;
}

.t {
  background-color: #ebf0e8;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/images/teacher.png");
    background-size: 100%;
    overflow: hidden;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -18px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #ebf0e8;
  }
}

.s {
  flex-direction: row-reverse;
  background-color: #93ec6a;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -18px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #93ec6a;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/images/student.png");
    background-size: 100%;
    overflow: hidden;
  }
}

.footer {
}
